html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #f8f8f8;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better separation */
    font-weight: bold;
    font-size: large;
}

#left img {
    margin-left: 10px; /* Optional: Add some space between the text and the image */
    width: 100px;
    height: 30px;
    vertical-align: middle;
}

#right{
    display: flex;
    gap: 10px;
    align-items: center;
}

#right img{
    height: 40px;
    border-radius: 50%;
}

button{
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #f54785;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Smooth transition for background color */
}

#dashboard{
    color: #f8f8f8;
    background-color: #343434;
    height: 100%;
    flex: 1;
}

#chart {
    /* background-color: #fff; Change to your desired background color */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Ensures padding doesn't affect size */
    width: 100%; /* Make the chart container take the full width */
    height: 400px; /* Set a fixed height for the chart */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some margin to avoid overlapping */
}

#heartChart {
    background-color: #f8f8f8;
    width: 50% !important; /* Ensure canvas takes full width */
    height: 100% !important; /* Ensure canvas takes full height */
}

#sleepChart {
    background-color: #f8f8f8;
    width: 50% !important; /* Ensure canvas takes full width */
    height: 100% !important; /* Ensure canvas takes full height */
}

#stepChart {
    background-color: #f8f8f8;
    width: 50% !important; /* Ensure canvas takes full width */
    height: 100% !important; /* Ensure canvas takes full height */
}