<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myFitTracker</title>
</head>
<body>
    <h1>Hello  <%= user.fullName %> </h1>
    <h1>Average Daily Steps  <%= user.averageDailySteps %> </h1>
    <h1>Average Running Stride Length <%= user.strideLengthRunning %> </h1>
    <a href="/"> Logout </a>
   
</body>
</html>