<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myFitTracker</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/x-ico" href="/images/dumbell_icon.png">
</head>
<body>
    <div id="header">
        <div id="left"> myFitTracker powered by <img src="/images/fitbit.png" alt="Fitbit PNG"> </div>
        <div id="right"> 
            <img src="<%= user.avatar %>" alt="Avatar jpg"> 
            <div id="rightText">Hello, <%= user.fullName %> </div>
            <button onclick="logout()">Logout</a> </div>
    </div>

    <div id="dashboard">
        <h1>Average Daily Steps  <%= user.averageDailySteps %> </h1>
        <h1>Average Running Stride Length <%= user.strideLengthRunning %> </h1>
    </div>

    <script>
        function logout() {
            // Create a form element
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout';

            // Add the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        }
    </script>
   
</body>
</html>